{{#description}}
    /* {{{description}}} */
{{/description}}
    {{#isContainer}}@Optional {{/isContainer}}val {{{name}}}: {{#isEnum}}{{classname}}.{{nameInCamelCase}}{{/isEnum}}{{^isEnum}}{{{dataType}}}{{/isEnum}}{{#isListContainer}} = emptyList(){{/isListContainer}}{{#isMapContainer}} = emptyMap(){{/isMapContainer}}