package {{packageName}}.infrastructure
import kotlinx.serialization.*
import kotlinx.serialization.json.Json

@UseExperimental(ImplicitReflectionSerializer::class)
object Serializer {
    inline fun <reified T: Any> parse (json: String): T = Json.nonstrict.parse<T>(json)

    inline fun <reified T: Any> stringify(obj: T): String = Json.stringify<T>(obj) //TODO: (encodeDefaults = false) doesn't work for now
}
